.linkStyle_1{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 14px; 
font-weight:500; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
a.linkStyle_1:visited{color:#FEFFFF; text-decoration:none;}
a.linkStyle_1:hover{color:#D5D5D5; text-decoration:none;}
.linkStyle_4{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 14px; 
font-weight:500; 
color: #FEFFFF;
text-decoration: none; 
/*110#00F900#FEFFFF#D5D5D5*/
word-wrap: break-word;}
a.linkStyle_4:visited{color:#FEFFFF; text-decoration:none;}
a.linkStyle_4:hover{color:#D5D5D5; text-decoration:none;}
.Style7{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 14px; 
font-weight:500; 
color: #FEFFFF;
word-wrap: break-word;}
.Style8{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 14px; 
font-weight:500; 
margin:0;
word-wrap: break-word;}
.Style9{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 18px; 
font-weight:500; 
margin:0;
word-wrap: break-word;}
.Style10{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 11px; 
font-weight:500; 
margin:0;
word-wrap: break-word;}
.Style11{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 14px; 
font-weight:500; 
margin:0;
background-color: #FEFFFF; 
word-wrap: break-word;}
.Style12{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 11px; 
font-weight:500; 
margin:0;
background-color: #FEFFFF; 
word-wrap: break-word;}
.Style13{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 12px; 
font-weight:500; 
margin:0;
word-wrap: break-word;}
.Style14{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 12px; 
font-weight:500; 
margin:0;
background-color: #FEFFFF; 
word-wrap: break-word;}
.Style15{font-family: 'HelveticaNeue','Helvetica Neue','Arial',sans-serif;
font-size: 13px; 
margin:0;
background-color: #FEFFFF; 
word-wrap: break-word;}
.Style16{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 16px; 
font-weight:500; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style17{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 13px; 
font-weight:500; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
a.Style17:visited{color:#FEFB00; text-decoration:none;}
a.Style17:hover{color:#D5D5D5; text-decoration:none;}
.linkStyle_24{font-family: 'Futura-Medium','Futura','Arial',sans-serif;
font-size: 13px; 
font-weight:500; 
color: #FEFFFF;
text-decoration: none; 
/*110#00F900#FEFB00#D5D5D5*/
word-wrap: break-word;}
a.linkStyle_24:visited{color:#FEFB00; text-decoration:none;}
a.linkStyle_24:hover{color:#D5D5D5; text-decoration:none;}
.para27{font-size: 0; text-align:right; margin-bottom:0px; margin-top:0px;}
.linkStyle_28{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #FEFEFE;
 text-decoration: none; 
 /* 1 1 0 #00F900 #FEFEFE #D4D4D4 */
 word-wrap: break-word;}
.linkStyle_28:visited{color:#FEFEFE; text-decoration:none;}
.linkStyle_28:hover{color:#D4D4D4; text-decoration:none;}
.Style31{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #FEFFFF;
 word-wrap: break-word;}
.para32{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style33{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 18px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style34{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style35{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:500; 
 margin:0;
 word-wrap: break-word;}
.Style36{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 11px; 
 font-weight:500; 
 margin:0;
 word-wrap: break-word;}
.Style37{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style38{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:500; 
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style39{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:500; 
 margin:0;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style40{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style41{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 11px; 
 font-weight:500; 
 margin:0;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style42{font-family:  'HelveticaNeue', 'Helvetica Neue' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 margin:0;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.para43{font-size: 0; text-align:right; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style44{font-family:  'Futura-CondensedExtraBold', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:800; 
 color: #FEFEFE;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style45{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #FEFEFE;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style46{font-family:  'Futura-CondensedExtraBold', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:800; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style47{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:500; 
 color: #FEFEFE;
 word-wrap: break-word;}
.para48{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style49{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #FEFFFF;
 word-wrap: break-word;}
.linkStyle_50{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #FEFFFF;
 text-decoration: none; 
 /* 1 1 0 #00F900 #FEFFFF #D5D5D5 */
 word-wrap: break-word;}
.linkStyle_50:visited{color:#FEFFFF; text-decoration:none;}
.linkStyle_50:hover{color:#D5D5D5; text-decoration:none;}
.Style53{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 word-wrap: break-word;}
.Style54{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 margin:0;
 word-wrap: break-word;}
.Style55{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style56{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style57{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_58{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:500; 
 color: #FEFEFE;
 text-decoration: none; 
 /* 1 1 0 #00F900 #FEFEFE #D4D4D4 */
 word-wrap: break-word;}
.linkStyle_58:visited{color:#FEFEFE; text-decoration:none;}
.linkStyle_58:hover{color:#D4D4D4; text-decoration:none;}
.Style61{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 margin:0;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style62{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style63{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.Style64{font-family:  'Futura-Medium', 'Futura' ,'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:500; 
 margin:0;
 color: #FEFEFE;
 background-color: #FEFFFF; 
 word-wrap: break-word;}